
{% extends "base.html" %}
{% block heading %}My Meetings{% endblock %}
{% block content %}
  <ul class="list-group list-group-flush ">
  {% for meeting in meetings %}
    <li class="list-group-item d-flex justify-content-between align-items-start my-3 shadow-sm ">
      <span class="mx-3 mt-1" data-feather="monitor"></span>
      <a class="meeting_link me-auto" href="{{ url_for('summary', meeting_id=meeting.meeting_id) }}">
      <div class="  ">
        <div class="fw-bolder fs-6 mb-2">{{meeting.title | capitalize }}</div>
        <div class="text-muted project_name">Project : {{meeting.project.project_name | capitalize}}</div>
      </div></a>
      <!-- <span class="" data-bs-toggle="modal" data-bs-target="" data-bs-whatever="edit" data-feather="edit"></span> -->
      <span class="" data-bs-toggle="modal" data-bs-target="#deleteMeeting{{ meeting.meeting_id }}" data-bs-whatever="delete" data-feather="trash-2"></span>
    </li>
    <div class="modal fade" id="deleteMeeting{{ meeting.meeting_id }}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center pt-3">Are you sure you want delete this {{meeting.title | capitalize}} meeting?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ url_for('delete_meeting', meeting_id=meeting.meeting_id) }}"> <button type="submit" class="btn btn-primary">Delete</button></a>
                </div>
        </div>
    </div>
  </div>
{% endfor %}
  </ul>
  
{% endblock %}
