{% extends "base.html" %}
{% block title %}Summary{% endblock %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
{% endblock %}
{% block heading %}Summary of Meeting - {{ meeting.title | capitalize }}{% endblock %}
{% block my_buttons %}
<a href="{{url_for('download_pdf',meeting_id=meeting.meeting_id)}}"><button type="button" class="btn my-4 mx-2" id="myBtn" >PDF</button></a>

<button type="button" class="btn my-4" id="myBtn1" data-bs-toggle="modal" data-bs-target="#changeProjectModal" data-bs-whatever="changeProjectModal">Change Project</button>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs me-auto" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary" type="button" role="tab">Summary</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="transcript-tab" data-bs-toggle="tab" data-bs-target="#transcript" type="button" role="tab">Transcript</button>
    </li>                              
</ul>
<div class="tab-content shadow-sm pt-5" id="myTabContent">
    <div class="tab-pane fade mt-2 px-3 show active" id="summary" role="tabpanel">
            <div class="click2edit" id="briefSummary">{{ meeting.brief_summary | safe }}</div><br>
            <button id="editBrief" class="btn btn-primary my-4" onclick="edit('briefSummary')" type="button">Edit</button>
            <button id="saveBrief" class="btn btn-primary my-4 mx-2" onclick="submitForm('briefSummary')" type="button">Save</button>
    </div>
    <div class="tab-pane fade mt-2 px-3" id="transcript" role="tabpanel">
        <div class="click2edit" id="detailSummary">{{ meeting.detail_summary | safe }}</div><br>
        <button id="editDetail" class="btn btn-primary my-4" onclick="edit('detailSummary')" type="button">Edit</button>
        <button id="saveDetail" class="btn btn-primary my-4 mx-2" onclick="submitForm('detailSummary')" type="button">Save</button>
    </div>
</div>
<form id="summaryForm" method="POST" action="{{ url_for('update_summary', meeting_id=meeting.meeting_id) }}">
    <input type="hidden" id="summaryContent" name="content">
    <input type="hidden" id="summaryId" name="summary_id">
</form>

 <!-- Modal to add or change project for the meeting -->
<div class="modal fade" id="changeProjectModal" tabindex="-1" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeProjectModalLabel">Add or Change Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="POST" action="{{ url_for('change_project', meeting_id=meeting.meeting_id) }}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="projectSelect" class="form-label">Select Project:</label>
                        <select class="form-select" id="projectSelect" name="project_id" required>
                            {% for project in projects %}
                            <option value="{{ project.project_id }}" 
                                {% if meeting.project_id == project.project_id %}selected{% endif %}>
                                {{ project.project_name | capitalize }}
                            </option>
                        {% endfor %}                        
                    </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var edit = function(id) {
        $('#' + id).summernote({
            focus: true
        });
    };

    var submitForm = function(id) {
        var newContent = $('#' + id).summernote('code');
        $('#' + id).summernote('destroy');

        document.getElementById('summaryContent').value = newContent;
        document.getElementById('summaryId').value = id;

        document.getElementById('summaryForm').submit();
    };
</script>

{% endblock %}
