{% extends "base.html" %}
{% block heading %}Upload{% endblock %}
{% block content %}
    <div class="frame">
        <div class="center">
            <h5 id="file-name"></h5>

            <div class="dropzone">
                <form method='POST' enctype='multipart/form-data'>
                    <div class="upload-info">
                        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                        <h1>Click to upload a file</h1>
                    </div>
                    {{form.hidden_tag()}}
                    {{form.file(class="upload-input")}}
                    {{form.submit(class="btn px-4")}}</div>
            </form>	
        </div>
    </div>
    <script>
        document.getElementById("file").onchange = function() {
            if (file.value){
            fileName=file.value.split("\\").pop() //removes C:\fakepath\
        document.getElementById("file-name").innerHTML=`<div class="alert alert-dismissible fade show" role="alert">
                                                        <strong>${fileName}</strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" onClick="deleteFile()"></button>
                                                        </div>`;
        document.querySelector(".upload-info").style.opacity=0
        } };
        function deleteFile(){
            document.querySelector('.upload-info').style.opacity=1; 
            document.getElementById("file").value=""
            document.getElementById("loading").innerHTML=""
        }

         document.getElementById("submit").onclick = function() {
            // document.querySelector('.upload-info').style.opacity=0
            // document.querySelector(".upload-info").style.opacity=0
            if(document.getElementById("file").value!==""){
            document.getElementById("loading").innerHTML=`<div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>`}};

    </script>
{% endblock %}

{% block footer %} 
  <!-- <div class="bar"><progress id="progress-bar"></progress></div> -->
  <div class="d-flex justify-content-center bar" id="loading">
    
  </div>
  
{% endblock %}
